body{
    background-color: black;
  }
  
  .EditorContainer {
      height: 500px;
      overflow-y: scroll;
    }
  
    .Input{
      height: 100px;
      overflow-y: scroll;
    }
    
    .Editor {
      height: 100% !important;
      width: 100%;
    }
    
    .problem{
      color: white;
    }
  
    h1{
      font-size: 25px;
      color:white;
    }
  

